.container {
    padding: 30px 250px 0 250px;
}

.toolbar {
    height: 50px;
    border: 1px solid #dadce0;
    border-radius: 48px;
    width: 100wh;
}

.search-container {
    display: inline-block;
    padding: 11px 15px 11px 20px;
    width: 400px;
    border-right: 1px solid #dadce0;
}

.search-input {
    height: 26px;
    border: none;
    font-size: 18px;
    width: 100%;
}

.search-input:focus {
    outline: none;

}

.sample-container {
    display: inline-block;
    padding: 10px 15px;
    width: 500px;
    border-right: 1px solid #dadce0;
}

.sample-input {
    height: 28px;
    border: none;
    font-size: 18px;
    width: 100%;
    border-bottom: 0.5px solid #dadce0;
}

.sample-input:focus {
    outline: none;
}

.font-size-container {
    display: inline-block;
    padding: 10px 25px;
    border-right: 1px solid #dadce0;
}

.font-size-input {
    border: none;
    font-size: 18px;
    height: 28px;
}

.font-size-input:focus {
    outline: none;
}

.dark-mode-container {
    display: inline-block;
    padding: 10px 15px;
    /* border-right: 1px solid #dadce0; */
}

.dark-mode-input {
    padding: 3.5px 0;
    display: inline-block;
}

.dark-mode-input > input {
    margin: 0 5px;
}

.list-style-container {
    display: inline-block;
    padding: 10px 15px;
}

.reset-container {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
}

.toolbar-btns-container {
    width: 400px;
    display: inline-block;
}

.toolbar-btns {
    display: grid;
    width: 428px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 15px;
    justify-items: center;
}

